<!-- <ul class="nav justify-content-center nav-underline">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Ropa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Calzado</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Complementos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
    </li>
</ul> -->


<p>
    <mat-toolbar color="primary" class="header__menu">
       
        <span class="menu__items" routerLink="" >Home</span>
        <span class="menu__items" routerLink="/ropa" >Ropa</span>
        <span class="menu__items" routerLink="/calzado" >Calzado</span>
        <span class="menu__items" routerLink="/accesorios" >Accesorios</span>
        

    </mat-toolbar>
</p>

